.template-selection-welcome {
    border-bottom: #f5f5f5 2px solid;
    padding-bottom: 20px;
}

.template-selection-filter-bar {
    background-color: #f5f5f5;
    width: 230px;
    padding: 5px;
}

ul.template-selection-content-list {
    list-style-type: none;
    text-align: left;
}

div.template-selection-item {
    margin-bottom: 20px;
    border-bottom: #f5f5f5 2px solid;
    padding-bottom: 5px;
}

div.template-selection-item-title {
    margin-bottom: 10px;
}

div.template-selection-item-description {
}

div.template-selection-item-details {
    font-size: 12px;
}

div.template-selection-item-features {
    color: #707070;
    font-size: 12px;
    line-height: 1.8;
    padding-left: 10px;
    padding-top: 10px;
}

div.service-details-errors {
    font-size: 12px;
    color: #d04437;
    padding-top: 5px;
}

p.creation-progress-detail-text {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

table.creation-progress {
    margin-left: auto;
    margin-right: auto;
}

img.creation-progress-stage-icons {
    vertical-align: middle;
}

td.creation-progress-stage-text {
    text-align: left;
    padding-left: 10px;
}

.chart {
    background: #fff;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}
